@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
    font-family:'Lato', sans-serif;
    background-image: linear-gradient(#afb1ff , #caf0f8 );

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music-container{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgb(174, 184, 254 0.6);
    display: flex;
    padding: 20px 30px;
    position: relative;  
    margin: 100px 0;
    z-index: 10;
}

.img-container{
    position: relative;
    width: 110px ;

}

.img-container::after{
    content: '';
    background-color: white;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 55%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.img-container img{
    width: inherit;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;

    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}

.music-container.play .img-container img{
    animation-play-state: running;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn{
    background-color: white;
    border: 0;
    color: #979dac;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}

.action-btn :active{
    background-color: #33415c;
    /* box-shadow: ;
    transform: translateY(2px); */
}
.action-btn-big{
    color: #7d8597;
    font-size: 25px;
}

.action-btn :focus{
    outline: 0;
}

.music-info{
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 15px 15px 0 0 ;
    position: absolute;
    top: 0;
    left: 20px;
    width: cal(100% - 40%);
    padding: 10px 170px 10px 150px;
    opacity: 0;
    transform: translateY(0%);
    transition: transfrom 0.3s ease-in, opacity 0.3s ease-in;
}

.music-info h4{
    margin: 0;
   
}

.music-container.play .music-info{
    opacity: 1;
    transform: translateY(-100%);
}

.progress-container{
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 450%;
}

.progress{
    background-color:#8187dc;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}